test/sample.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Read database credentials secret",
  "States": {
    "Read database credentials secret": {
      "Type": "Task",
      "Parameters": {
        "SecretId": "DbSecret685A0FA5-GXCINaDfwzla"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Next": "Parse SecretString",
      "ResultPath": "$.dbSecret"
    },
    "Parse SecretString": {
      "Type": "Pass",
      "Next": "Generate username and password",
      "InputPath": "$.dbSecret",
      "Parameters": {
        "Value.$": "States.StringToJson($.SecretString)"
      },
      "ResultPath": "$.dbSecret"
    },
    "Generate username and password": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:536309290949:function:step-functions-with-the-c-GenerateUsernameAndPassw-OZ3vhotMEJPK"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Invoke SQL script against database",
      "ResultPath": "$.usernameAndPassword",
      "ResultSelector": {
        "Username.$": "$.Payload.username",
        "Password.$": "$.Payload.password"
      }
    },
    "Invoke SQL script against database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:536309290949:function:step-functions-with-the-cdk-ScriptProvider32E26F41-DBeWWSBNMARo"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Generate OTS",
      "ResultPath": "$.invokeOutput"
    },
    "Generate OTS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:536309290949:function:step-functions-with-the-cdk-GenerateOtsBE7C09B0-nTIEu0OxGURq"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Send email",
      "ResultPath": "$.ots",
      "ResultSelector": {
        "OtsUrl.$": "$.Payload.otsUrl"
      }
    },
    "Send email": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "FromEmailAddress": "matthew.bonig@gmail.com",
        "Content": {
          "Simple": {
            "Body": {
              "Html": {
                "Data": "You're getting new creds!"
              },
              "Text": {
                "Data": "You're getting new creds!"
              }
            },
            "Subject": {
              "Data": "You're getting new creds!"
            }
          }
        },
        "Destination": {
          "ToAddresses.$": "States.Array($.email)"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail"
    }
  }
}